.env
.venv/
.idea/

media/uploads/thumbnails/*
!media/uploads/thumbnails/.gitkeep

media/uploads/video_files/*
!media/uploads/video_files/.gitkeep

media/uploads/profile_pics/*
!media/uploads/profile_pics/.gitkeep

media/uploads/converted/

videos/scraper/
download_videos/

docker-compose.yml